@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
	}
#lEye,#rEye{
	position:absolute;
	top:100px;
	width:24px;
	height:25px;
	}
#lEyeball,#rEyeball{
	position:absolute;
	top:113px;
	width:4px;
	height:4px;
	}
#lEye{
	left:100px;
	}
#rEye{
	left:150px;
	}
#lEyeball{
	left:118px;
	}
#rEyeball{
	left:153px;
	}